
<!-- Table 'dev_integra_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- DEV_TYPE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TYPE#] style="color:red;font-weight:bold"[#endif#]>
	Тип устройства:
 </label>
 <div class="col-lg-4">
	 <select class="form-control" name="dev_type">
	   <option value="1"[#if DEV_TYPE=="1"#] selected[#endif#]>RS232 Banana R1
	 </select>
 </div>
</div>
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>
<!-- DEV_CONTROL (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_DEV_CONTROL#] style="color:red;font-weight:bold"[#endif#]>
 Api строка:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="dev_control" value="[#DEV_CONTROL#]" id="dev_control"></div>
</div>

<div class="form-group">
 <label class="col-lg-3 control-label">
Управление:
 </label>
 <div class="col-lg-4">
	<a href="?data_source=<#DATA_SOURCE#>&id=<#ID#>&view_mode=<#VIEW_MODE#>&mode=learn" class="btn btn-default">Обучить коду</a>
 </div>
</div>

<!-- UPDATED (datetime) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_UPDATED#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_UPDATED#>:
 </label>
 <div class="col-lg-4">
<input class="form-control" id="disabledInput" type="text" placeholder="[#UPDATED#]" disabled>
 </div>
</div>
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
        </div>
</div>
</fieldset>
</form>
